name: Fetch YOM

on:
  schedule:
    - cron: '0 1 * * *'  # 毎日午前1時に実行
  workflow_dispatch:

jobs:
  fetch-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        ref: main  # mainブランチを使用

    - name: Fetch and Save XML Files
      run: |
        mkdir -p sitemap_yomi_$(date +\%Y\%m)
        urls=("https://www.yomiuri.co.jp/sitemap-news-latest.xml"
              "https://www.yomiuri.co.jp/sitemap-news-past-1.xml"
              "https://www.yomiuri.co.jp/sitemap-news-past-2.xml"
              "https://www.yomiuri.co.jp/sitemap-news-past-3.xml"
              "https://www.yomiuri.co.jp/sitemap-news-past-4.xml"
              "https://www.yomiuri.co.jp/sitemap-news-past-5.xml"
              "https://www.yomiuri.co.jp/sitemap-news-past-6.xml"
              "https://www.yomiuri.co.jp/sitemap-news-past-7.xml")
        for url in "${urls[@]}"
        do
          suffix=$(basename $url .xml)  # '.xml' 拡張子を取り除く
          if wget $url -O "sitemap_yomi_$(date +\%Y\%m)/xml-yomi_$(date +\%Y\%m%d)_$suffix.xml"; then
            echo "Downloaded $url"
          else
            echo "Failed to download $url"
            wget $url -O "sitemap_yomi_$(date +\%Y\%m)/xml-yomi_$(date +\%Y\%m%d)_$suffix.xml"  # エラー時にもう一度試行
          fi
        done

    - name: Commit and Push files to main
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add sitemap_yomi_$(date +\%Y\%m)/*
        git commit -m "Add XML files for $(date +\%Y\%m%d)"
        git push origin main
